<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LdapSettings" type="DotNetDevGuide.DirectoryServices.Configuration.DunnryConfigHandler, DotNetDevGuide.DirectoryServices" />
  </configSections>

  <!-- Removing the Username and Password parameters will mean that the samples
  will run with the current security context (i.e. they will be null)
  
  Anything in [] is optional
  
  <LdapSettings
    defaultPartition="dc=domain,dc=com"
    server = "localhost:389" 
    [username = "CN=Foo,O=AdamInstance"]
    [password = "somepassword"]
    connectionProtection = "Secure" | "None"
   />  
  
	 -->

  <LdapSettings
    defaultPartition="dc=domain,dc=com"
    server = "localhost:389" 
    username = "CN=Foo,O=AdamInstance"
    password = "somepassword"
    connectionProtection = "Secure | None"
   />

</configuration>